<div>
    <center>
        <form action="http://localhost:8080/users" method="get">
            <input type="submit" value="usuarios" />
        </form>
    </center>
    <center>
        <form action="http://localhost:8080/realTimeProducts" method="get">
            <input type="submit" value="Productos" />
        </form>
    </center>
</div>