<h1>Por favor, ingrese el Id de su carrito</h1>

<section class="cartContainer">
    <div>
        <form id="searchCart">
            <input type="text" id="cartsId" placeholder="Id del carrito" />
            <input class="button" type="button" value="Buscar" onclick="searchCart()"></input>
        </form>
    </div>

    <div id="cart" class="productsContainer"></div>
</section>

<script src="/socket.io/socket.io.min.js"></script>
<script src="static/js/cart.js"></script>