<h1>LOGIN</h1>
<form action="/api/usersMongo/login" method="POST">
    Email:
    <input type="email" name="email" id="email" />
    Password:
    <input type="password" name="password" id="password" />
    <input type="submit" value="Ingresar" />
</form>

<h2>Usuario nuevo?</h2>
<button onclick="location.href='/api/usersMongo/register'">Ir a registro</button>